[script://./bin/run.sh example]
interval = 60
sourcetype = example
source = jdbc
#index = jdbc

#to create more queries
#1. Choose a new name, for example "foo"
#2. Duplicate bin/example to bin/foo
#3. duplicate the stanza above, replacing example with foo.
#4. Make appropriate changes to bin/foo/query.properties and bin/foo/query.pointer